.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  background-color: #41c1fd;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.scrolling-text {
  white-space: nowrap;
  display: flex;
  gap: 20px; /* Add spacing between text elements */
  animation: scroll-left calc(3s * 10) linear infinite; /* Adjust animation duration based on repeat count */
  color: white; /* Set text color to white */
  font-family: Khand;
  font-size: 18px; /* Adjust font size as needed */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.frog-icon {
  width: 40px; /* Adjust the width of the frog icon as needed */
  height: 30px; /* Maintain aspect ratio */
}

@font-face {
  font-family: Khand;
  src: url(../fonts/Khand-Regular.ttf);
}